OPENAI_API_KEY='***REMOVED***'

JIRA_API_KEY='Your Jira API Key'
JIRA_DOMAIN='Your Jira Domain'
JIRA_PROJECT_KEY='Your Jira Project Key'
JIRA_EMAIL='Your Jira Email'

JIRA_ACCOUNT_ID="Your Jira Account ID"
JIRA_ASSIGNEE_ACCOUNTID_MAP_JSON='{
  "Priya": "Your Jira Account ID",
  "Alex": "Your Jira Account ID",
  "Mike": "Your Jira Account ID",
  "John": "Your Jira Account ID"
}'
